<header class="header">
  <!-- Contenedor izquierdo -->
  <div class="header-left">
    <a href="#home" routerLinkActive="active">
      <img src="assets/icon/favicon.png" alt="Jesús Sánchez Delgado" class="profile-img" />
    </a>
    <a href="#home"  class="name">Jesús Sánchez Delgado</a>
  </div>

   <!-- Icono de menú hamburguesa -->
   <div class="hamburger" (click)="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Contenedor derecho -->
  <nav class="header-nav" [ngClass]="{'active': menuActive}">
    <a href="#about-me" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Sobre mi</a>
    <a href="#skills" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Habilidades</a>

    <a href="#projects" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Experiencia</a>
    <a href="https://www.linkedin.com/in/jes%C3%BAs-s%C3%A1nchez-delgado-2686851a7/" target="_blank" class="nav-link nav-link-icon" (click)="closeMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="16" height="16">
        <path
          d="M22.23 0H1.77C.79 0 0 .79 0 1.77v20.46C0 23.21.79 24 1.77 24h20.46c.98 0 1.77-.79 1.77-1.77V1.77C24 .79 23.21 0 22.23 0zM7.74 20.45H4.15V9h3.59v11.45zm-1.8-13.07c-1.15 0-1.84-.79-1.84-1.78 0-1.01.69-1.79 1.84-1.79 1.14 0 1.84.78 1.84 1.79 0 1-.7 1.78-1.84 1.78zm14.26 13.07h-3.58v-5.7c0-1.35-.48-2.27-1.68-2.27-1.27 0-2.03.86-2.36 1.7-.12.28-.15.67-.15 1.06v5.31h-3.59V9h3.45v1.6h.05c.48-.91 1.67-1.86 3.42-1.86 2.52 0 4.46 1.69 4.46 5.32v6.39z"
        ></path>
      </svg>
      Mi perfil
    </a>

  </nav>

</header>
