<section class="skills">
  <h2>Habilidades</h2>
  <ul>
    <!-- Primer grupo de habilidades -->
    <li><img src="../../../assets/icon/icons8-html-5-144.png" alt="HTML"></li>
    <li><img src="../../../assets/icon/icons8-css-144.png" alt="CSS"></li>
    <li><img src="../../../assets/icon/icons8-javascript-144.png" alt="JavaScript"></li>
    <li><img src="../../../assets/icon/icons8-mecanografiado-144.png" alt="TypeScript"></li>

    <!-- Segundo grupo de habilidades -->
    <li><img src="../../../assets/icon/icons8-angular-144.png" alt="Angular"></li>
    <li><img src="../../../assets/icon/icons8-nodejs-144.png" alt="Node.js"></li>
    <li><img src="../../../assets/icon/icons8-python-144.png" alt="Python"></li>
  </ul>
  <!-- Ondas inferiores -->
  <div class="wave-container">
    <div class="wave"></div>
    <div class="wave-secondary"></div>
  </div>
  <div class="button-container">
    <a href="#about-me">
        <button class="btn-scroll">↑</button>
    </a>
    <a href="#projects">
        <button class="btn-scroll">↓</button>
    </a>
  </div>
</section>
